<div class="container color-dark">
<div class="col">
 <p> Agrega un Elemento a tu Lista.</p>
 </div>
<div class="col">
<p>Lista de Metas.({{ itemcount }})</p>
</div>
</div>
<div class="container color-light" [@goals]="goals.length">
<div class="col">
  <p class="sm"> ¿Que Quieres hacer con tu Vida?

<form>
  <input type="text"class="txt" name="item" placeholder="life goal.." [(ngModel)]="goaltext">  
<input type="submit" class="btn" [value]="btntext" (click)="additem()">
  </form>
  </div>
  <div clas="col">
    <p class="life-container"*ngFor="let goal of goals; let i = index" (click)="removeitem(I)">
          {{ goal}}
          </p>
    </div>
    </div>

